{% extends "base.html" %}
{% block title %}
    酒店详情页
{% endblock %}

{% block content %}
<div class="container">
    <h3 class="text-center">酒店详情页</h3>
    <div id="filter">
        <form class="form-horizontal">
            <div class="control-group row">
                <label for="hotelID" class="span1 control-label">酒店ID：</label>
                <input type="text" class="span2" id="hotelID" value="" placeholder="可输入ID串，逗号隔开">
			</div>
            <div class="control-group row">
                <label for="hotelName" class="span1 control-label">酒店名：</label>
                <input type="text" class="span2" id="hotelName" value="" placeholder="可输入名称串，逗号隔开">
            </div>

            <div class="control-group row">
                <label for="cityID" class="span1 control-label">城市ID：</label>
                <input type="text" class="" id="cityID" placeholder="可输入ID串，逗号隔开">
			</div>
            <div class="control-group row">
                <label for="cityName" class="span1 control-label">城市名：</label>
                <input type="text" class="" id="cityName" placeholder="可输入名称串，逗号隔开">
            </div>

            <div class="control-group row">
                <label class="span1 control-label">国家名：</label>
                <input type="text" class="" id="country" placeholder="国家（可输入名称串，逗号隔开）" value="">
			</div>

            <div class="row">
                <select class="input-small" id="continentList" name="continentList[]" multiple="multiple">
					<option value='$item'>aaaaaa</option>
                </select>

                </select>
                	<select class="input-small" id="status">
                	<option value="all">全部状态</option>
                	<option value="Open">Open</option>
                	<option value="Dept_Open">Dept_Open</option>
                	<option value="Ready">Ready</option>
                	<option value="Close">Close</option>
                </select>

                <select class="input-small" id="city_type">
                    <option value="all">全部类型</option>
                    <option value="Regular">Regular</option>
                    <option value="Small">Small</option>
                </select>

                <label class="span1 control-label">排序：</label>
                <select class="input-small" id="sortTag" name="sortTag">
                    <option value="city_id">城市</option>
                    <option value="country">国家</option>
					<option value="grade">评分</option>
					<option value="star">星级</option>
                </select>

                <select class="input-small" id="sortOrder" name="sortOrder">
                    <option value="positive">正序</option>
                    <option value="negtive">倒序</option>
                </select>

                <input type="checkbox" id="selectAll"> 全部选定

            	<button type="button" class="span2 btn btn-primary" style="float: right" onclick="doQuery();">查询</button>
			</div>

        </form>
    </div>
	<div id="btns">
        <button type="button" class="btn btn-link hide"  id="exportToCSV">数据导出</button>
	</div>
    <div id="info" style="width:100%;height:400px;" class="text-center"></div>
    <div id="pager" style="width:100%;height:20px;"></div>
</div>
<div id="over"></div>
<div id="layout"><img src="{{url_for('static', filename='images/loading.gif')}}" /></div>
{% endblock %}

{% block scripts %}
	{{ super() }}
    <script src="{{url_for('static', filename='js/hotel_bw_list.js')}}"></script>
{% endblock %}
