{% extends "base_simple.html" %}
{% block title %}
城市数据统计
{% endblock %}

{% block content %}
<div class="container">
    <h3 class="text-center">城市数据统计</h3>

	<div class="row">
		<div class="span8"></div>
		<div class="span2" >
			<select class="input-small" id="environment" name="environment">
				<option value="test">test环境</option>
				<option value="online">线上环境</option>
			</select>
		</div>
		<div class="" style="float: right">
			<button type="button" class="span2 btn btn-primary" style="float: right" onclick="doQuery();">查询</button>
		</div>
	</div>

	<!-- 展示数据的表格 -->
	<div class="row">
		{% if data.status!=0 %}
			查询数据失败!{{ data.status }}
		{% else %}
			<table  class="table  table-condensed table-bordered">
			<thead>
				<tr>
				<td> 城市ID </td>
				<td> 城市名称 </td>
				<td> 国家 </td>
				<td> 城市热度 </td>
				<td> 城市状态 </td>
				<td> 酒店总数 </td>
				<td> 酒店有图比例 </td>
				<td> 酒店有评论比例 </td>
				<td> 景点总数 </td>
				<td> 景点有图比例 </td>
				<td> 景点有评论比例 </td>
				<td> 餐厅总数 </td>
				<td> 餐厅有图比例 </td>
				<td> 餐厅有评论比例 </td>
				<td> 购物总数 </td>
				<td> 购物有图比例 </td>
				<td> 购物有评论比例 </td>
				</tr>
			<thead>
			<!-- 查询出来的结果 -->
			{% for city in data.result %}
				<tr>
				<td> <a href="#">{{ city.id }} </a></td>
				<td> {{ city.name }}</td>
				<td> {{ city.country }} </td>
				<td> {{ city.visit_num}} </td>
				<td> {{ city.city_status }} </td>
				<td><a href="#">{{ city.hotel_total }}</a></td>
				<td> {{ city.hotel_image_percentage }} </td>
				<td> {{ city.hotel_comment_percentage }} </td>
				<td><a href="#">{{ city.attr_total }}</a></td>
				<td> {{ city.attr_image_percentage }} </td>
				<td> {{ city.attr_comment_percentage }} </td>
				<td><a href="#">{{ city.rest_total }}</a></td>
				<td> {{ city.rest_image_percentage }} </td>
				<td> {{ city.rest_comment_percentage }} </td>
				<td><a href="#">{{ city.shop_total }}</a></td>
				<td> {{ city.shop_image_percentage }} </td>
				<td> {{ city.shop_comment_percentage }} </td>
				</tr>
			{% endfor %}
			</table>
			<!--  -->
		{% endif %}
	</div>
</div>

{% endblock %}

<!--
{% block script %}
	<script src="{{url_for('static', filename='js/hotel.js')}}"></script>
{% endblock %}
-->

